body{
    margin:0;
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(0, 0, 0);
    font-size: 30px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*head*/
.toplevel{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 55px;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    z-index: 5;
}

/*video section*/
.intro{
    margin-top: 55px;
    height: calc(100vh - 55px);
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.6);

    position:absolute;
    left:0;
    top:0;
    z-index: 2;
}


.video{
    height: 100%;
    width: 100%;
    position: relative;
}

.video_data{
    position: absolute;
    top: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.top{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-align: center;
    position:absolute;
    top:0;
    left: 0;
    z-index: 3;
    font-size: 100px;
    color:rgb(255, 255, 255);
}

.text_on_cat{

}


/*body*/
.info{
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
    overflow: auto;
}

.mes{
    display:grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-items: center;
}

.mesInv{
    display:grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    justify-items: center;
}

.fix{
    width: 80%;
    height: 80%;
}

.Photo{
    min-width: 400px;
    min-height: 400px;
    background-color: black;
    border:2px solid black;
    margin:0 0;
}


.textinfo{
    text-align: center;
}

@media screen and (max-width: 1200px) {
    
}



