body{
    margin:0;
    font-family: 'Balsamiq Sans', cursive;
    color:rgb(0, 0, 0);
    font-size: 30px;
}

/*head*/
.toplevel{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 6%;
    text-align: center;
    color:rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    z-index: 5;
}

/*video section*/
.intro{
    max-height: 100vh;
    overflow: hidden;
    position: relative;
}

.intro::after{
    content: "";
    display: block;
    width: 100%;
    height: 100%;

    background-color:rgba(0, 0, 0, 0.6);

    position:absolute;
    left:0;
    top:0;
    z-index: 2;
}


.video{
    position: relative;
    padding-bottom: 56%;
}

.video_data{
    width: 28%;
    height: auto;
    position:absolute;
    top:0;
    left: 36%;
    z-index: 1;
}

.top{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    position:absolute;
    top:0;
    left: 0;
    z-index: 3;
    font-size: 100px;
    color:rgb(255, 255, 255);
}

.text_on_cat{

}


/*body*/
.info{
}

.mes{
    display:grid;
    grid-template-columns: 1fr 2fr;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.mesInv{
    display:grid;
    grid-template-columns: 2fr 1fr;
    padding: 20px;
    align-items: center;
    justify-items: center;
}

.fix{
    width: 80%;
    height: 80%;
}

.Photo{
    background-color: black;
    border:8px solid black;
    margin:0 0;
}


.textinfo{
    text-align: center;
}



